<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>JspProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>code</param-name>
    <param-value>thunder</param-value>
  </context-param>
  <context-param>
    <param-name>reply</param-name>
    <param-value>flash</param-value>
  </context-param>
  <context-param>
    <param-name>code1</param-name>
    <param-value>/WEB-INF/myFile.txt</param-value>
  </context-param>
  <servlet>
    <servlet-name>myGenericServletEx1</servlet-name>
    <servlet-class>my.learning.TestGenericServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myGenericServletEx1</servlet-name>
    <url-pattern>/GenericServletEx1.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestLifeCycleServletEx1</display-name>
    <servlet-name>TestLifeCycleServletEx1</servlet-name>
    <servlet-class>my.learning.lifecycle.TestLifeCycleServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestLifeCycleServletEx1</servlet-name>
    <url-pattern>/TestLifeCycleServletEx1.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRequestInfoServletEx1</display-name>
    <servlet-name>TestRequestInfoServletEx1</servlet-name>
    <servlet-class>my.learning.TestRequestInfoServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRequestInfoServletEx1</servlet-name>
    <url-pattern>/TestRequestInfoServletEx1.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRdIncludeServletEX1</display-name>
    <servlet-name>TestRdIncludeServletEX1</servlet-name>
    <servlet-class>my.learning.rd.TestRdIncludeServletEX1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRdIncludeServletEX1</servlet-name>
    <url-pattern>/TestRdIncludeServletEX1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RdIncludePageServlet</display-name>
    <servlet-name>RdIncludePageServlet</servlet-name>
    <servlet-class>my.learning.rd.RdIncludePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RdIncludePageServlet</servlet-name>
    <url-pattern>/RdIncludePageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRedirectServletEx1</display-name>
    <servlet-name>TestRedirectServletEx1</servlet-name>
    <servlet-class>my.learning.redirect.TestRedirectServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRedirectServletEx1</servlet-name>
    <url-pattern>/TestRedirectServletEx1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestFileUploadServletEx1</display-name>
    <servlet-name>TestFileUploadServletEx1</servlet-name>
    <servlet-class>my.learning.upload.TestFileUploadServletEx1</servlet-class>
    <multipart-config>
      <location>C:/temp</location>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestFileUploadServletEx1</servlet-name>
    <url-pattern>/TestFileUploadServletEx1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestConfigServletEx1</display-name>
    <servlet-name>TestConfigServletEx1</servlet-name>
    <servlet-class>my.learning.shareresources.TestConfigServletEx1</servlet-class>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html;charset=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>bgColor</param-name>
      <param-value>grey</param-value>
    </init-param>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestConfigServletEx1</servlet-name>
    <url-pattern>/TestConfigServletEx1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestFilterServletEx1</display-name>
    <servlet-name>TestFilterServletEx1</servlet-name>
    <servlet-class>my.learning.filter.TestFilterServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestFilterServletEx1</servlet-name>
    <url-pattern>/TestFilterServletEx1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSpecialCharacterEx1</display-name>
    <servlet-name>TestSpecialCharacterEx1</servlet-name>
    <servlet-class>my.learning.filter.TestSpecialCharacterEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSpecialCharacterEx1</servlet-name>
    <url-pattern>/TestSpecialCharacterEx1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSessionServletEx1</display-name>
    <servlet-name>TestSessionServletEx1</servlet-name>
    <servlet-class>my.learning.session.TestSessionServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSessionServletEx1</servlet-name>
    <url-pattern>/TestSessionServletEx1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSessionServletEx2</display-name>
    <servlet-name>TestSessionServletEx2</servlet-name>
    <servlet-class>my.learning.session.TestSessionServletEx2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSessionServletEx2</servlet-name>
    <url-pattern>/TestSessionServletEx2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCookieServletEx1</display-name>
    <servlet-name>TestCookieServletEx1</servlet-name>
    <servlet-class>my.learning.cookies.TestCookieServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookieServletEx1</servlet-name>
    <url-pattern>/TestCookieServletEx1.do</url-pattern>
  </servlet-mapping>
</web-app>